
<section class="myfooter pt-5 ">
    <div class="row mt-auto pt-5" >
    
        <div class="col">
            <h2 style="text-align:center">Connect with us</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            
            <div class='social'>
                
            <a href="http://www.youtube.com/keralatourism" class="yt" target="_blank"><i class='fa fa-youtube'></i></a>&nbsp;&nbsp;
            <a href="https://www.facebook.com/keralatourismofficial" class="fb" target="_blank"><i class='fa fa-facebook'></i></a>&nbsp;&nbsp;
            <a href="http://twitter.com/keralatourism" class="tw" target="_blank"><i class='fa fa-twitter'></i></a>&nbsp;&nbsp;
      
            <a href="https://www.instagram.com/keralatourism/?hl=en" class="ig" target="_blank"><i class='fa fa-instagram'></i></a>&nbsp;&nbsp;
            <a href="https://www.keralatourism.org/video-clips/whatsapp" class="wa" target="_blank"><i class='fa fa-whatsapp'></i></a>&nbsp;&nbsp;

            <a href="https://in.pinterest.com/keralatourism/" class="pn" target="_blank"><i class='fa fa-pinterest'></i></a>&nbsp;&nbsp;
          <a href="https://www.linkedin.com/company/keralatourism" class="lk" target="_blank"><i class='fa fa-linkedin'></i></a>
            </div>
        </div>

    </div>

    


<div class="section stream">

    <div class="row">
        <div class="col-md-12">
            <h3 style="text-align:center"> <span style="color:#3eb7ee">#KeralaTourism</span> is Live &amp; Trending. Don't forget to follow &amp; share your Kerala experience</h3>
         

        </div>
    </div>       

</div>
<div id="credit" class="fnt-color-light">
Department of Tourism, Government of Kerala, Park View,
Thiruvananthapuram, Kerala, India - 695 033<br>Phone: +91 471 2321132, 
Fax: +91 471 2322279
<br>All rights reserved &copy; Kerala Tourism 2023.
<a href="https://www.keralatourism.org/copyright" title="Copyright">Copyright</a>
 | <a href="https://www.keralatourism.org/termofuse" title="Terms of Use">Terms of Use</a>
  | <a href="https://www.keralatourism.org/cookiepolicy" title="Cookie Policy">Cookie Policy</a>
   | <a href="https://www.keralatourism.org/contactus" title="Contact Us">Contact Us</a>
   
</div>
</section>